.card-title {
    position: absolute;
    
    width: 0;
    word-wrap: break-word;
	margin: 0;
    margin-top: 5rem;
    margin-left: min(100% - 15rem, 8rem);
    z-index: 5;
    justify-items: center;

    &__name {
        font-weight: bold;
    }


}
