:root {
    --clr-neutral-900: hsl(0, 0%, 9%);
    --clr-neutral-800: hsl(0, 0%, 26%);
    --clr-neutral-400: hsl(210, 1%, 64%);
    --clr-neutral-100: hsl(210, 20%, 94%);


    --clr-neutral-background-dark: hsl(0, 0%, 13%);
    --clr-neutral-background-medium: hsl(0,0%,21%,70%);
    --clr-neutral-background-light: hsl(0, 0%, 23%, 50%);


    --clr-primary: hsl(12, 74%, 50%);
}